:root {

    --theme-primary-font: "Roboto", sans-serif;
    --theme-secondary-font: "Open Sans", sans-serif;
    --theme-black-border-color: #000;
    --theme-white-background-color: #fff;
    --theme-black-text-color: #000;
    --theme-white-text-color: #fff;
    --theme-white-2-text-color:#ffffffc9;
    --theme-bar-background-color: #0d0e12;
    --theme-bar-border-bottom-color: #1f212a;
    --theme-card-background-color: #F1416C;
    --theme-white-3-text-color:#ffffffaf;
    --theme-white-2-background-color:#f8f8f8;
    --theme-gray-text-color:gray;
    --theme-span-background-color:#DFFFEA;
    --theme-span-text-color:#17C653;
    --theme-box-background-color:#bbb9b973;

}